{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% block head %}
    <title>About us</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="container fluid" style = "padding:100px;">
        <div class="row">

      <div class="col-sm-6">
         <div class="jumbotron" style="background-color:#17202A;">
           <h1 style = "text-align:center; padding-top:0px; color:white;">Our mission</h1>
           <p style = "font-size:20px;  color:white;font-family: 'Patua One', cursive;">Lavina Nigeria limited is an advocate of clean source of energy with unique focus for solar technology.Our mission is to build businesses and technology leveraging on how our expertise and potential.And to empower and train youths with the aim of supporting the growth of solar technology in Africa.</p>
         </div>
      </div>
      <div class="col-sm-6">
         <div class="jumbotron" style = "background-color:#17202A;">
           <h1 style = "text-align:center; padding-top:0px; color:white;">Our Vision</h1>
           <p style = "font-size:20px;  color:white;font-family: 'Patua One', cursive;">Our vision is for African to tap into the full potential of solar energy and we are here to support the ever growing market via inventive, innovative and technological approaches. </p>
         </div>
     </div>

      </div>

    </div>



    {% endblock %}

  </body>
</html>
