{% extends 'base.html'%}
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%block head%}
    <title>Lavina Nigeria Ltd | solar products and installation Expert</title>
    <link rel="stylesheet" type="text/css" href="{static 'general/style.css'}">
    {% endblock %}
  </head>
  <body>
    {% block body %}
  <section style = "padding-top:50px;">
    <article class="" style= "width:100%; background-color:f3f3f3;">

    <div class="container">
      <div class="jumbotron" style ="padding:100px 60px; margin:0px; background-color:#17202A;">
        <h1 style = "text-align:center; font-family: 'Patua One', cursive; color:white;">In lavina Nigeria limited we specialize in renewable source of energy, specifically solar systems sales and Installation</h1>
      </div>
    </div>
  </article>
    <article class="" style = "width:100%; background-color:fff; padding-top:30px; padding-bottom:60px;">

    <div class="container-fluid">
      <h1 style = "text-align:center;">Solar Gallery</h1>

      <div class="row">

          <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{% static 'general/images/image9.jpg' %}" alt="">
            <p style = "font-size:15px;font-family: 'Patua One', cursive;">Customised solar powered street light</p>

          </div>
          <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{% static 'general/images/image1.jpg' %}" alt="">
            <p style = "font-size:15px;font-family: 'Patua One', cursive;">solar powered CCTV camera</p>

          </div>
          <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{% static 'general/images/image3.jpg' %}" alt="">
            <p style = "font-size:15px; font-family: 'Patua One', cursive;">street light</p>

          </div>
          <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{% static 'general/images/image4.jpg' %}" alt="">
            <p style = "font-size:15px;font-family: 'Patua One', cursive;">Solar panel</p>

          </div>

        </div>
        <div class="row">

            <div class="col-sm-3">
              <img class="img-responsive img-thumbnail" src="{% static 'general/images/image9.jpg' %}" alt="">
              <p style = "font-size:15px;font-family: 'Patua One', cursive;">Customised solar powered street light</p>

            </div>
            <div class="col-sm-3">
              <img class="img-responsive img-thumbnail" src="{% static 'general/images/image11.jpg' %}" alt="">
              <p style = "font-size:15px;font-family: 'Patua One', cursive;">solar powered CCTV camera</p>

            </div>
            <div class="col-sm-3">
              <img class="img-responsive img-thumbnail" src="{% static 'general/images/image8.jpg' %}" alt="">
              <p style = "font-size:15px; font-family: 'Patua One', cursive;"></p>

            </div>
            <div class="col-sm-3">
              <img class="img-responsive img-thumbnail" src="{% static 'general/images/image23.jpg' %}" alt="">
              <p style = "font-size:15px;font-family: 'Patua One', cursive;">Solar panel</p>

            </div>

          </div>
          <div class="row">

              <div class="col-sm-3">
                <img class="img-responsive img-thumbnail" src="{% static 'general/images/image9.jpg' %}" alt="">
                <p style = "font-size:15px;font-family: 'Patua One', cursive;">Customised solar powered street light</p>

              </div>
              <div class="col-sm-3">
                <img class="img-responsive img-thumbnail" src="{% static 'general/images/image6.jpg' %}" alt="">
                <p style = "font-size:15px;font-family: 'Patua One', cursive;">solar powered CCTV camera</p>

              </div>
              <div class="col-sm-3">
                <img class="img-responsive img-thumbnail" src="{% static 'general/images/image3.jpg' %}" alt="">
                <p style = "font-size:15px; font-family: 'Patua One', cursive;"></p>

              </div>
              <div class="col-sm-3">
                <img class="img-responsive img-thumbnail" src="{% static 'general/images/image10.jpg' %}" alt="">
                <p style = "font-size:15px;font-family: 'Patua One', cursive;">Solar panel</p>

              </div>

            </div><div class="row">

                <div class="col-sm-3">
                  <img class="img-responsive img-thumbnail" src="{% static 'general/images/image9.jpg' %}" alt="">
                  <p style = "font-size:15px;font-family: 'Patua One', cursive;">Customised solar powered street light</p>

                </div>
                <div class="col-sm-3">
                  <img class="img-responsive img-thumbnail" src="{% static 'general/images/image17.jpg' %}" alt="">
                  <p style = "font-size:15px;font-family: 'Patua One', cursive;">solar powered street light</p>

                </div>
                <div class="col-sm-3">
                  <img class="img-responsive img-thumbnail" src="{% static 'general/images/image3.jpg' %}" alt="">
                  <p style = "font-size:15px; font-family: 'Patua One', cursive;"></p>

                </div>
                <div class="col-sm-3">
                  <img class="img-responsive img-thumbnail" src="{% static 'general/images/image26.jpg' %}" alt="">
                  <p style = "font-size:15px;font-family: 'Patua One', cursive;">Solar powered light</p>

                </div>

              </div><div class="row">

                  <div class="col-sm-3">
                    <img class="img-responsive img-thumbnail" src="{% static 'general/images/image16.jpg' %}" alt="">
                    <p style = "font-size:15px;font-family: 'Patua One', cursive;">Customised solar powered street light</p>

                  </div>
                  <div class="col-sm-3">
                    <img class="img-responsive img-thumbnail" src="{% static 'general/images/image19.jpg' %}" alt="">
                    <p style = "font-size:15px;font-family: 'Patua One', cursive;">solar powered light</p>

                  </div>
                  <div class="col-sm-3">
                    <img class="img-responsive img-thumbnail" src="{% static 'general/images/image21.jpg' %}" alt="">
                    <p style = "font-size:15px; font-family: 'Patua One', cursive;">solar powered light</p>

                  </div>
                  <div class="col-sm-3">
                    <img class="img-responsive img-thumbnail" src="{% static 'general/images/image23.jpg' %}" alt="">
                    <p style = "font-size:15px;font-family: 'Patua One', cursive;">Solar powered light</p>

                  </div>

                </div>
                <div class="row">

                    <div class="col-sm-3">
                      <img class="img-responsive img-thumbnail" src="{% static 'general/images/image12.jpg' %}" alt="">
                      <p style = "font-size:15px;font-family: 'Patua One', cursive;">Customised solar powered street light</p>

                    </div>
                    <div class="col-sm-3">
                      <img class="img-responsive img-thumbnail" src="{% static 'general/images/image22.jpg' %}" alt="">
                      <p style = "font-size:15px;font-family: 'Patua One', cursive;">solar powered CCTV camera</p>

                    </div>
                    <div class="col-sm-3">
                      <img class="img-responsive img-thumbnail" src="{% static 'general/images/image27.jpg' %}" alt="">
                      <p style = "font-size:15px; font-family: 'Patua One', cursive;"></p>

                    </div>
                    <div class="col-sm-3">
                      <img class="img-responsive img-thumbnail" src="{% static 'general/images/image15.jpg' %}" alt="">
                      <p style = "font-size:15px;font-family: 'Patua One', cursive;">All in one street light</p>

                    </div>

                  </div>
      </div>
    </article>

    </section>

    {% endblock %}

  </body>
</html>
