{% extends 'base.html'%}
<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {%block head%}
    <title>Livano International Ltd | solar products and installation Expert</title>
    <link rel="stylesheet" type="text/css" href="{% static 'general/style.css' %}">
    {% endblock %}
  </head>
  <body>
    {% block body %}
  <section style = "padding-top:50px;">
    <article class="" style= "width:100%; background-color:f3f3f3;">

    <div class="container">
      <div class="jumbotron" style ="padding:100px 60px; margin:0px; background-color:#17202A;">
        <h1 style = "text-align:center; font-family: 'Patua One', Open sans; color:white;">At livano international we are solar expert that specialise in all in one integrated solar street light and house solar energy</h1>
      </div>
    </div>
  </article>

  <article class="" style = "width:100%; background-color:fff; padding-top:30px; padding-bottom:60px;">
    <div class="container-fluid">

    <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <h2 style = "text-align:center; font-family:Open Sans; font-size:30px; " >who we are</h2>
        <p style = "text-align:center; font-family:Open Sans; font-size:15px; "> we are a known brand in renewable source of energy services.And we have been able to use solar energy to provide electricity for various community at an affordable, clean and durable condition </p>


      </div>
      <div class="col-sm-4">
        <h2 style = "text-align:center; font-family:Open Sans; font-size:30px; " >Our commitment </h2>
        <p style = "text-align:center; font-family:Open Sans; font-size:15px; ">We are committed in eradicating epileptic power supply in Nigeria through clean energy source and efficient technique at an affordable price</p>


      </div>
      <div class="col-sm-4">
        <h2 style = "text-align:center; font-family:Open Sans; font-size:30px; " >Our solution</h2>
        <p style = "text-align:center; font-family:Open Sans; font-size:15px; ">We have been able to provide electricity to numerous community and organisation.This has improve efficiency in organisation and indirectly cut cost </p>
      </div>
    </div>
    </div>
  </div>
  </article>
</section>
<section class = " main-container">
  <article class="index-intro">
    <div class="container-fluid">
      <div class="jumbotron-fluid">
        <h1 style ="text-align:center;" >you can call us on +2348037800329 or fill our contact form for more enquiries and complaint</h1>


      </div>

    </div>

  </article>

</section>





<article class="" style = "width:100%; background-color:fff; padding-top:30px; padding-bottom:60px;">
  <div class="container-fluid">

      <h1 style = "text-align:center;">Solar Gallery</h1>

      <div class="row">

          <div class="col-sm-3">

            <img class="img-responsive img-thumbnail" src="{% static 'general/images/image9.jpg' %}" alt="">
            <p style = "font-size:15px;font-family: 'Patua One', cursive;">Customised solar powered street light</p>

          </div>
          <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{% static 'general/images/image1.jpg' %}" alt="">
            <p style = "font-size:15px;font-family: 'Patua One', open sans;">solar powered CCTV camera</p>

          </div>
          <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{% static 'general/images/image3.jpg' %}" alt="">
            <p style = "font-size:15px; font-family: 'Patua One', open sans;">street light</p>

          </div>
          <div class="col-sm-3">
            <img class="img-responsive img-thumbnail" src="{% static 'general/images/image4.jpg' %}" alt="">
            <p style = "font-size:15px;font-family: 'Patua One', open sans;">Solar panel</p>

          </div>

        </div>
        <div class="row">

            <div class="col-sm-3">
              <img class="img-responsive img-thumbnail" src="{% static 'general/images/image9.jpg' %}" alt="">
              <p style = "font-size:15px;font-family: 'Patua One', open sans;">Customised solar powered street light</p>

            </div>
            <div class="col-sm-3">
              <img class="img-responsive img-thumbnail" src="{% static 'general/images/image11.jpg' %}" alt="">
              <p style = "font-size:15px;font-family: 'Patua One', open sans;">solar powered CCTV camera</p>

            </div>
            <div class="col-sm-3">
              <img class="img-responsive img-thumbnail" src="{% static 'general/images/image8.jpg' %}" alt="">
              <p style = "font-size:15px; font-family: 'Patua One', open sans;"></p>

            </div>
            <div class="col-sm-3">
              <img class="img-responsive img-thumbnail" src="{% static 'general/images/image23.jpg' %}" alt="">
              <p style = "font-size:15px;font-family: 'Patua One', open sans;">Solar panel</p>

            </div>

          </div>
      </div>
    </article>


    {% endblock %}

  </body>
</html>
